<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background: orange;
        }
        h1{
            color: green;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>

    {% for messages in messages %}
        <div align="center"><strong>Erro</strong> {{ messages }}
        </div>
    {% endfor %}
</body>
</html>